

@{
    ViewBag.Title = "Create users";
}

<h2>Create users</h2>

<!--Hér á að vera hægt að importa lista af nemendum til að bua til usera, form POST-->

<form action="upload.php" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload" name="submit">
</form>
<input type="button" class="btn btn-default" onclick="location.href = '@Url.Action("Index", "User")'" value="Back" />


