
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--Hér þarf að vera listi í töflu yfir alla notendur úr gagnagrunni. Leitarbox fyrir ofan. Fyrir neðan [create] [create multi]
    vinstra megin er hægt að velja [user] eða [course]-->

