@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Mooshak is a web application that allows students to hand in solutions for programming assignments online
   and get instant feedback on them</p>
