@model Mooshak2._0.Models.ViewModels.AddStudentToCourseViewModel

<h2>Add student to course</h2>
<form action="/Course/SaveStudentToCourse" method="post">
    <div>
        <select id="studentId" name="studentId" class="form-control">
            @foreach (var student in Model.AvailableStudents)
            {
                <option value="@student.Id">@student.FullName</option>
            }
        </select>
    </div>
    <input type="hidden" name="courseId" id="courseId" value="@Model.CourseID"/>

    <div style="padding-top: 15px">
        <input type="submit" value="Save" class="btn btn-success">
        @Html.ActionLink("Cancel", "Details", new { id = Model.CourseID }, new { @class = "btn btn-primary btn-large" })
    </div>
</form>
