
@{
    ViewBag.Title = "Create house";
}

<h2>Create</h2>
<form>
    <div class="form-group">
        <label for="">Course ID</label>
        <input type="text" class="form-control" id="">
        <label for="">Course name</label>
        <input type="text" class="form-control" id="">
        <label for="">Semester</label>
        <input type="text" class="form-control" id="">
    </div>
    <input type="submit" value="Submit" class="btn btn-success">

</form>