@model Mooshak2._0.Models.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Create";
}
<br>
<br>
<br>
<h2>Create course</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="">Course number</label>
        @Html.TextBoxFor(m => Model.CourseNumber, new { @class = "form-control" }) 
     
        <label for="">Course name</label>
        @Html.TextBoxFor(m => Model.CourseName, new { @class = "form-control" }) 
       
        <label for="">Semester</label>
        @Html.TextBoxFor(m => Model.Semester, new { @class = "form-control" }) 
        <!--<input type="text" class="form-control">-->
    </div>
    <input type="submit" value="Save" class="btn btn-success">
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary btn-large" })

}