@model Mooshak2._0.Models.ViewModels.CourseViewModel
@{
    ViewBag.Title = "View";
}

@Model.CourseName
<h2>View</h2>
<table>
    <thead>
    <tr>
        <th>Course ID</th>
        <th>Course name</th>
        <th>Semester</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td>T-111-Prog</td>
        <td>Forritun</td>
        <td>Spring 2016</td>
    </tr>
    <tr>
        <td>T-201-GSKI</td>
        <td>Gagnaskipan</td>
        <td>Spring 2016</td>
    </tr>
    <tr></tr>
    <tr></tr>
    </tbody>
</table>

