body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table{
    margin: auto;
    border: 1px solid black;
    width: 1000px;
    align-content: center;
}
tr:nth-child(even) 
{
    background-color: #f2f2f2;

}
th
{
    border-bottom: 1px solid black;
}
.container
{
    margin: auto;

}
/*
h2#Logo-text 
{ 
   position: absolute; 
   top: 50px; 
   left: 50px; 
   width: 100%; 
   text-shadow: 2px 2px 8px #413f3f;
   font-weight: bold;

}
    */
.Main-logo
{
    padding: 75px;
    padding-top: 30px;
    max-height: 100%;
    max-width: 100%;
}
#devider 
{
    top: 20px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10em 0;
    padding: 0;
}

#TextAreaSubmitCode
{
    max-width: 100%;
    width: 100%;
    border: 2pt solid gray;
}


#Center-content
{
    margin: auto;
}
ul.LeftNavButtons 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li button {
    display: block;
}
