<!DOCTYPE html>
<html>
<head>
   Assignments
</head>
<body>
    <h2>Assignments</h2>

    <div class="container">
        <h3>Assignments</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">All courses</a></li>
            <li><a href="#">Data structure</a></li>
            <li><a href="#">Problem solving</a></li>    <!-- hér þarf að sækja í gagnagrunn þau námskeið sem kennari er skráður fyrir-->
            <li><a href="#">Algorithms</a></li>
        </ul>
    </div>
</body>
</html>