<!DOCTYPE html>
<html>
<head>
   <title>Assignments</title>
</head>
<body>
    <h3>Assignments</h3>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#AllCourses">All courses</a></li>
            <li><a data-toggle="tab" href="#DataStructure">Data structure</a></li>
            <li><a data-toggle="tab" href="#ProblemSolving">Problem solving</a></li>
            <li><a data-toggle="tab" href="#Algorithms">Algorithms</a></li>
        </ul>
        <div class="tab-content">
            <div id="AllCourses" class="tab-pane fade in active">
                <br/>
                <table class="AssignmentTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Deadline</th>
                            <th>Submissions</th>
                            <th>Course</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lab 10</td>
                            <td>23:59 05.05.16</td> <!--Hér þarf að sækja upplýsingar í gagnagrunn til að byrta í töflunni-->
                            <td>54</td>
                            <td>Data Sructure</td>
                        </tr>
                        <tr>
                            <td>Lab 8</td>
                            <td>23:59 05.05.16</td> <!--Hér þarf að sækja upplýsingar í gagnagrunn til að byrta í töflunni-->
                            <td>54</td>
                            <td>Problem solving</td>
                        </tr>
                        <tr>
                            <td>Lab 6</td>
                            <td>23:59 05.05.16</td> <!--Hér þarf að sækja upplýsingar í gagnagrunn til að byrta í töflunni-->
                            <td>54</td>
                            <td>Algorithms</td>
                        </tr>

                    </tbody>
                </table>


            </div>
            <div id="DataStructure" class="tab-pane fade">
                <br />
                <table class="AssignmentTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Deadline</th>
                            <th>Submissions</th>
                            <th>Course</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lab 10</td>
                            <td>23:59 05.05.16</td> <!--Hér þarf að sækja upplýsingar í gagnagrunn til að byrta í töflunni-->
                            <td>54</td>
                            <td>Data Sructure</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div id="ProblemSolving" class="tab-pane fade">
                <br />
                <table class="AssignmentTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Deadline</th>
                            <th>Submissions</th>
                            <th>Course</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lab 10</td>
                            <td>23:59 05.05.16</td> <!--Hér þarf að sækja upplýsingar í gagnagrunn til að byrta í töflunni-->
                            <td>54</td>
                            <td>Problem solving</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div id="Algorithms" class="tab-pane fade">
                <br />
                <table class="AssignmentTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Deadline</th>
                            <th>Submissions</th>
                            <th>Course</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lab 10</td>
                            <td>23:59 05.05.16</td> <!--Hér þarf að sækja upplýsingar í gagnagrunn til að byrta í töflunni-->
                            <td>54</td>
                            <td>Algorithms</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/content/site")
    

</body>
</html>